global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'gpu'
    static_configs:
      - targets: ['dcgm-exporter:9400']
